# MongoDB
MONGODB_URL="mongodb://admin:Password123@localhost:27017"
MONGODB_USER=admin
MONGODB_PASS=Password123
MONGODB_PORT=27017
MONGODB_DB_NAME=books_db

# Mongo Express
ME_USER=meuser
ME_PASS=mepassword
